* {
    font-family: 'Lato', sans-serif;
  }
  
  
  .footer {
      background: white;
      width: 100%;
      display: flex;
      position: fixed;
      bottom: 0;
      height: max-content;
      justify-content: center;
      align-items: center;
      border-top: 1px solid black;
    }
  
  .socialMedia svg {
      color: black;
      margin: 0px 20px 0px 10px;
      font-size: 50px;
      cursor: pointer;
  }
  
  .footer p {
      color: black;
      margin-top: 1%;
    }