.search-bar-container {
    margin-top: 10%;
}

.search-page {
    display: grid;
    justify-content: center;
}

.login-btn {
    display: inline-block;
    position: relative;
    place-self: stretch center;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.search-page link {
    text-decoration: none;
}

.login-btn-top {
    display: grid;
    color: black;
    background-color: transparent;
    width: fit-content;
    justify-content: center;
    align-items: center;
    place-self: stretch center;
    background-color: white;
    border: 1px solid #AFAFAF;
    box-shadow: 0px 0px 0.5px 0px;
    border-radius: 5px 5px 0px 0px;
    padding: 1.2px;
    font-family:'Courier New', Courier, monospace;
}

.dropdown {
    border-top: 0.1px solid;
    border-radius: 0px 0px 5px 5px;
    background-color: white;
    border: 1px solid #AFAFAF;
}
