.login {
    display: grid;
    background-color: bisque;
    width: 30vw;
    margin: auto;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 3px;
}

input {
    background-color: transparent;
    border: 2px solid black;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 90%;
}

label {
    font-weight: bolder;
    font-size: 20px;
}

.login-page-btn {
    margin: auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    width: 20%;
    margin-bottom: 5%;
}

.msg {
    color: black;
    font-weight: bold;
    background-color: bisque;
    place-self: stretch center;
    border: 1px solid black;
    box-shadow: 0px 1px 4px 1px;
    border-radius: 10px;
    padding: 1px;
    margin: 10px;
}