* {
  font-family:'Courier New', Courier, monospace;
  }
  
  .h1 a {
    padding: 5px;
    box-shadow: 0px 1px 5px 1px;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    color: black;
  }
  
  .navbar {
    width: 100%;
    height: 8vh;
    background: white;
    border-bottom: 1px solid black;
  }
  
  .links {
    gap: 50px;
    height: 100%;
    margin-left: 2%;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 90%;
  }
  
  .navbar-links a {
    text-decoration: none;
    font-size: 30px;
    color: black;
    border-radius: 10%;
    background-color: transparent;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    width: 20rem;
  }

  .navbar-links {
    display: flex;
    width: 100%;
  }

  /* .navbar Link {
    margin: 4rem;
  } */

  
  .toggleButton {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .toggleButton svg {
    font-size: 50px;
  }
  .toggleButton button {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
  }

  .user-heading {
    font-weight: bold;
    font-size: 30px;
    color: salmon;
    font-family:'Courier New', Courier, monospace;
    display: flex;
    position: relative;
  }
  
  #open {
    height: 100%;
    width: 100%;
    background-color: lightgray;
    justify-content: center;
    flex-direction: column;
    display: flex;
    position: absolute;
  }

  #open .navbar {
    height: 100%;
  }

  @media only screen and (max-width: 900px) {
    .navbar a {
      width: fit-content;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #open .links {
      height: 100vh;
      width: 100vw;
      position: fixed;
      overflow: hidden;
    }
    .navbar {
      border-bottom: none;
      position: relative;
      z-index: 1;
    }
    .toggleButton {
      display: flex;
      justify-content: space-around;
      color: black;
      height: min-content;
      align-items: center;
      margin-top: 2rem;
    }
    #close .navbar-links {
      display: none;
    }

    .user-heading {
      display: none
    }
    .links, .navbar-links {
      position: absolute;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .h1 {
      height: 100%;
      width: 100vw;
      display: flex;
      justify-content: center;
    }
    .h1-link {
      text-decoration: none;
      color: black;
      height: auto;
      position: fixed;
      font-size: xx-large;
      padding: 0.4rem;
      display: flex;
      top: 0;
      margin-top: 10rem;
    }

    #close .h1-link {
      display: none;
    }

    .h1-link-closed {
      display: none;
    }

    #open .h1-popup {
      display: none;
    }

    .h1-popup {
      display: flex;
      justify-content: center;
      color: black;
      text-decoration: none;
      font-size: xx-large;
      padding: 0.3rem;
      background-image: linear-gradient(80deg, salmon, white);

    }
  }
  
  @media only screen and (min-width: 600px) {
    .toggleButton {
      display: none;
    }
  
    #open {
      height: 100px;
    }
  
    #open .links {
      flex-direction: row;
    }

    .h1-link {
      display: none;
    }
  }