* {
    font-family:'Courier New', Courier, monospace;
}

.title {
    font-weight: bold;
}

.card-body {
    font-size: 18px;
}

.favorite-btn {
    background-color: white;
    border: none;
    color: goldenrod;
    margin-bottom: 10px;
}